@model test_v01.Repository.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emailusuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emailusuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Senhausuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Senhausuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nomeusuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nomeusuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefoneusuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefoneusuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idusuario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
